*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1 {
    color: rgb(223, 195, 40);
    font-size: 3rem;
    font-family: 'Parisienne', serif;
    letter-spacing: 0.4rem;
}

body {
    background: aliceblue;
}

p {
    font-size: 1.6rem;
}


/* class styles */
.question {
    margin: 2rem;
    padding: 1.6rem;
    background: white;
    height: auto;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.05);
    position: relative;
    font-family: 'Lato', cursive;
}

.header {
    text-align: center;
    padding: 2rem;
}

.title {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding-bottom: 1.6rem;
}

.answer {
    border-top: 2px solid rgba(0, 0, 0, 0.05);
    padding-top: 1.5rem;
    font-weight: 100;
    display: none;
    overflow: hidden;
}

.question-btn {
    position: absolute;
    right: 1rem;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s linear;
}

.question-btn:hover {
    transform: rotate(90deg);
}

.far {
    font-size: 2rem;
    color: rgb(223, 195, 40);
}

.show-text .answer{
    display: block;
}

.show-text .minus-btn {
    display: inline;
}

.minus-btn {
    display: none;
}
.show-text .plus-btn {
    display: none;
}