* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


header {
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
        url(./hero-bcg.jpeg) center/cover no-repeat;
    min-height: 100vh;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
}


.nav-center {
    width: 90vw;
}

.banner {
    display: grid;
    min-height: 100vh;
    place-items: center;
    color: white;
    font-size: 1.5rem;
    /* justify-content: center; */

}

.container {
    text-align: center;

}

.container h1 {
    margin-bottom: 1.25rem;
}

.container p {
    max-width: 45rem;
    font-size: 1.3rem;
    margin-bottom: 1.25rem;
    text-transform: capitalize;
    /* margin: 0 auto; */
}

.container a {
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.8rem;
    line-height: 3;
}


/* when you want to show the links
set the top value of the image to 300px and the
height value to about 205px  */

.links {
    color: black;
    /* display: block; */
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
    /* top: 8rem; */
}

/* show links on click of buttton */
.show-links {
    height: 200px;
}


.link-container {
    list-style: none;
    padding-left: 20px;
}

/* end of show-links */
.link-container a {
    text-decoration: none;
    color: black;
    display: block;
    line-height: 1.8;
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 500;
}

.link-container a:hover {
    color: rgb(5, 147, 147);
}

nav {
    padding: 1rem 1.5rem;
    background: #fff;
    width: 100%;
}

.fixed-nav {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #f2eeee;
}

.fixed-nav .links a {
    color: black;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

.button-toggle {
    outline: none;
    border: none;
    background: transparent;
    color: transparent;
    cursor: pointer;
}

.fas {
    height: 2rem;
}

.image {
    position: absolute;
    top: 6.4rem;
    transition: all 0.3s linear;
}

.show-image {
    top: 22rem;
}

.image img {
    width: 100vw;
}

.section {
    letter-spacing: 3px;
    text-align: center;
}

#services,
#tours,
#home {
    height: 90vh;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

span {
    color: rgb(39, 217, 217);
}

footer {
    font-size: 2rem;
    background: hsl(209, 61%, 16%);
    color: #fff;
    padding: 5rem 1rem;
    margin: auto;
}

footer p {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.2rem;
}

/* .section:not(last-child) p {} */

#services {
    background: hsl(204, 8%, 88%);
}

@media screen and (min-width: 800px) {
    nav {
        background: transparent;
    }

    .nav-center {
        width: 90vw;
        /* max-width: 1170px; */
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button-toggle {
        display: none;
    }

    .link-container {
        display: flex;
    }

    .links {
        height: auto !important;
    }

    .link-container a {
        background: transparent;
        color: #fff;
        font-size: 1.1rem;
        display: block;
        margin: 0 1rem;

    }

    /* test */
    .nav-header {
        padding: 0;
    }
}

.button-top {
    position: fixed;
    bottom: 6rem;
    right: 6rem;
    background: rgb(110, 187, 255);
    width: 2rem;
    height: 2rem;
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    animation: bounce 2s linear infinite;
    visibility: hidden;
    z-index: -100;
}

.show-link {
    visibility: visible;
    z-index: 100;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}